@model CoreDemo.Models.AddProfileImage
@{
    ViewData["Title"] = "WriterAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>WriterAdd</h1>
<form class="form-group" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
                <br />
                @Html.HiddenFor(x => x.WriterID)
                @Html.HiddenFor(x => x.WriterStatus)

                <div class="form-group">
                    <label for="exampleInputName1">Yazar Ad Soyad</label>
                    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail3">Mail adresi</label>
                    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre</label>
                    @Html.PasswordFor(x => x.WriterPassword, new { @class = "form-control", id = "password" })
                    @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre Tekrar</label>
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Şifreyi tekrar giriniz">
                    <span id="passwordError" class="text-danger" style="display: none;">Şifreler uyuşmuyor!</span>
                </div>

                <div class="form-group">
                    <label>Yazar Profil Görseli</label>
                    <input type="file" name="WriterImage">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Yazar Hakkında</label>
                    @Html.TextAreaFor(x => x.WriterAbout, 25, 3, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterAbout)
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                <button class="btn btn-light">İptal</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#editProfileForm").submit(function(e) {
                var password = $("#password").val();
                var confirmPassword = $("#passwordConfirm").val();

                if (password !== confirmPassword) {
                    e.preventDefault();  // Formun gönderilmesini engelle
                    $("#passwordError").show();  // Hata mesajını göster
                } else {
                    $("#passwordError").hide();  // Hata yoksa mesajı gizle
                }
            });

            $("#passwordConfirm").keyup(function() {
                var password = $("#password").val();
                var confirmPassword = $(this).val();

                if (password !== confirmPassword) {
                    $("#passwordError").show();
                } else {
                    $("#passwordError").hide();
                }
            });
        });
    </script>
</form>
