@model IEnumerable<Message>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<h1>Giden Kutusu</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><b>@item.MessageID</b></td>
            <td>@item.Subject</td>
            <td>@item.Receiver.NameSurname (@item.Receiver.Email)</td>
            <td>@TimeHelper.CalcDifference(item.MessageDate)</td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn-sm btn-warning">Mesajı Aç</a></td>
        </tr>
    }
</table>
<a href="/Message/SendMessage" class="btn btn-primary">Mesaj Gönder</a>
<a href="/Message/InBox" class="btn btn-info">Gelen Kutusu</a>